<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VTWITTER</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>

    <div id="app">
        <h1>{{title}}</h1>

        <form @submit.prevent="onSubmit">
            <textarea
                v-model="item"
                required 
                placeholder="Type your twit"
            ></textarea>

            <br />
            <button type="submit">Submit</button>
        </form>

        {{items}}

        <ul>
            <li
                v-for="(tweet, index) in items"
                :key="tweet.id">
                <img :src="tweet.avatar" width="100" height="100">
                <span>{{tweet.date}}</span>
                <div>{{tweet.body}}</div>
            </li>
        </ul>
        
    </div>

    <script src="app.js"></script>

    <!-- https://www.youtube.com/watch?v=e6Q3rifOLxc&t=937s -->
</body>
</html>